.reclutamiento {
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 79%;
    margin: auto auto 1rem auto;
    background: #ffffff;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0 4px 6px #0000001a;
    min-height: 4rem;
}

/*ajuste*/
.reclutamiento-columnas {
    display: flex;
    gap: 2rem !important;
}
@media (max-height: 400px) {
    .reclutamiento-columnas {
        flex-direction: column;
    }
} 
.boton {
    position: flex !important;
    padding: 1px;
    margin: 1px auto; 
}
.text {
    margin-bottom: "3rem";
    margin-top: "4.5rem";
    margin-right: "1rem";
}
@media (max-width: 20vh) {
    .text {
        max-inline-size: 2.3rem;
    }
}
@media (max-width: 345px) {
    .reclutamiento {
        margin: auto auto 1rem auto;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        width: 95% !important;
        height: 95% !important;
        background: #ffffff;
        border-radius: 15px;
        padding: 1rem !important;
        box-shadow: 0 4px 6px #0000001a;
    }
}