.table-container {
    width: 100%;
    overflow-x: auto;
    border: 1px solid #e9e9e9e0;
    border-radius: 10px;
}
.responsive-table {
    width: 100%;
    border-collapse: collapse;
}
.responsive-table th,
.responsive-table td {
    padding: 8px;
    text-align: left;
    max-inline-size: 1rem;
}
.responsive-table th {
    font-weight: 600;
    color: #4d4d4de0;
    border-bottom: 1px solid #e9e9e9e0;
}
.responsive-table tbody tr:hover {
    background-color: #f2f2f7;
}
.form {
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    background: #ffffff;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0 4px 6px #0000001a;
    margin-bottom: 2rem;
}
@media (max-width:430px) {
    .responsive-table {
        width: 35rem;
        overflow: scroll !important;
        font-size: x-large !important;
        }
}
@media (max-width:430px) {
    .form {
        width: 23.5rem;  
        overflow: scroll !important;
    }
}
@media (max-width:430px) {
    .responsive-table th,
    .responsive-table td {
    text-align: left;
    max-inline-size: 3rem;
    font-size: 15px !important;
     }
}
.reclutamiento {   
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    background: #ffffff;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0 4px 6px #0000001a;
    min-height: 4rem;
}
.reclutamiento-columnas {
    display: flex;
    gap: 1rem;
}
@media (max-width:430px) {
    .reclutamiento-columnas {
        flex-direction: column;
    }

}
.boton {
    margin-bottom: 1rem;
    position: absolute !important;
}
/*Galaxy z Fold 5 --Folded-- */
@media (max-width:690px) {
    .responsive-table {
        width: 40rem;
        overflow: scroll !important;
        font-size: x-large !important;
    }
    .form {
        overflow: scroll !important;
    }
    .responsive-table th,
    .responsive-table td {
        text-align: left;
        max-inline-size: 3rem;
        font-size: 15px !important;
    }
}
@media (max-width:540px) { /* surface duo */
    .responsive-table {
    width: 35rem;
    overflow: scroll !important;
    font-size: x-large !important;
    }
    .form {
    width: 27rem;
    overflow: scroll !important;
    }
    .responsive-table th,
    .responsive-table td {
    text-align: left;
    max-inline-size: 3rem;
    font-size: 15px !important;
    }
}
/* Iphone 14 pro max */
@media (max-width: 430px) {
    .form {
        margin: 1rem 3rem 1rem 1rem;
        display: flex;
        gap: 5px;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        width: 80%;
        margin: auto;
        background: #ffffff;
        padding: 1rem;
        border-radius: 15px;
        box-shadow: 0 4px 6px #0000001a;
        margin-bottom: 2rem;
    }
}
/* Iphone xr */
@media (max-width: 414px) {
    .form {
        margin: 1rem 3rem 1rem 1rem;
        display: flex;
        gap: 5px;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        width: 80%;
        margin: auto;
        background: #ffffff;
        padding: 1rem;
        border-radius: 15px;
        box-shadow: 0 4px 6px #0000001a;
        margin-bottom: 2rem;
    }
}
/* Galaxy Z Fold 5  */
@media (max-width: 345px) {
    .reclutamiento {
        display: flex;
        gap: 5px;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        width: 90%;
        background: #ffffff;
        border-radius: 15px;
        box-shadow: 0 4px 6px #0000001a;
    }
}
/* Iphone SE */
@media (max-width: 375px) {
    .reclutamiento {
        display: flex;
        gap: 5px;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        width: 90%;
        background: #ffffff;
        border-radius: 15px;
        box-shadow: 0 4px 6px #0000001a;
    }
}
/* Galaxy Z Fold 5  */
@media (max-width: 345px) {
    .form {
        margin: 1rem 3rem 1rem 1rem;
        display: flex;
        gap: 5px;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        width: 90%;
        margin: auto;
        background: #ffffff;
        padding: 1rem;
        border-radius: 15px;
        box-shadow: 0 4px 6px #0000001a;
        margin-bottom: 2rem;
    }
}
/* Iphone SE */
@media (max-width: 375px) {
    .form {
        margin: 1rem 3rem 1rem 1rem;
        display: flex;
        gap: 5px;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        width: 90%;
        margin: auto;
        background: #ffffff;
        padding: 1rem;
        border-radius: 15px;
        box-shadow: 0 4px 6px #0000001a;
        margin-bottom: 2rem;
    }
}
