.icon-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;

    padding: 16px;
    
    border: 1px solid var(--gray-1);
    border-radius: 1rem;
   
    background: #fff;
    box-shadow: 0 4px 4px #0000001a;
   
    transition: box-shadow 0.3s ease;
   
    height: 100%;
    min-height: 200px;
    min-width: 300px;
    max-width: 600px;
}
.icon-card:hover {
    cursor: pointer;
    box-shadow: 0 8px 12px #00000026;
}
.icon-card__title {
    font-size: 1.2rem;
    margin: 0 0 8px;
    color: #333;
}
.icon-card__text {
    font-size: 0.9rem;
    font-weight: lighter;
    width: 80%;
    margin: auto;
    color: var(--gray-a10);
}