/* src/components/UserCard.css */
.user-card {
    display: flex;
    align-items:normal;
    padding: 16px;
    border: 1px solid var(--gray-1);
    border-radius: 1rem;
    box-shadow: 0 4px 4px #0000001a;
    transition: box-shadow 0.3s ease;
    background: #f2f2f7;
    height: 100%;
    min-height: 100px;
    min-width: 300px;
    max-width: 600px;
}
@media (max-width: 768px) {
    .user-card {
        margin-top: 4.5rem;
    }
}

.user-card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}
.user-card__avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-right: 16px;
    border: 2px solid #ddd;
}
.user-card__info {
    display: flex;
    flex-direction: column;
}
.user-card__name {
    font-size: 1.2rem;
    margin: 0 0 8px;
    font-weight: lighter;
    color: #333;
}
.user-card__email {
    font-size: 0.9rem;
    margin: 0;
    color:var(--gray-a10);
} 
/* Offert card*/
.offert-card {
    display: flex;
    align-items: normal;
    align-content: center;
    border-radius: 50%;
    min-height: 200px;
    min-width: 200px;
    max-width: 200px;
}
.offert-card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}
.offert-card__avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    
}








