.headers {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headers ion-title {
    height: 4rem;
    cursor: pointer;
    padding: 5px;
}

.centerButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
}