.headers {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    --border-whidth: 0px !important;
}
.headers.scroll-active {
    --background: #6900a9;
}
.headers ion-title {
    height: 5rem;
    cursor: pointer;
    padding: 5px;
}
.centerButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    font-size: 5rem;
}
.titulos {
    font-size: 4rem;
    font-family: "Lobster";
    font-weight: 300;
    text-shadow: 1px 1px 5px #e8c0ff;
}
.toolbar {
    position: absolute;
    transition: background-color 0.3s ease;
    --border-whidth: 0px !important;
}


@media (max-width: 768px) {
    .toolbar {
            position: absolute;
            transition: background-color 0.3s ease;
            --border-whidth: 0px !important;
            font-size: small;
        }
}
