.headers {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headers ion-title {
    height: 5rem;
    cursor: pointer;
    padding: 5px;
}

.centerButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    font-size: 5rem;
}
.titulos {
    font-size: 4rem;
    font-family: "Lobster";
    font-weight: 300;
}