.table-container {
    width: 100%;
    overflow-x: auto;
    border: 1px solid #e9e9e9e0;
    border-radius: 10px;
}
.responsive-table {
    width: 100%;
    border-collapse: collapse;
}
.responsive-table th,
.responsive-table td {
    padding: 8px;
    text-align: left;
}
.responsive-table th {
    font-weight: 600;
    color: #4d4d4de0;
    border-bottom: 1px solid #e9e9e9e0;
}
.responsive-table tbody tr:hover{
    background-color: #f2f2f7;
}