.textarea{
    font-family: "Noto Sans", sans-serif;
    border: 1px solid rgba(136, 136, 136, 0.11);
    resize: none;
    width: 95%;
    height: 8rem;
    margin: auto;
    border-radius: 5px;
    padding: 10px;
}
.textarea2 {
    background: #fff;
    font-family: "Noto Sans", sans-serif;
    border: 1px solid rgba(136, 136, 136, 0.11);
    resize: none;
    width: 95%;
    height: 9rem;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
   
}