.estrellas {
    cursor: pointer;
    stroke-width: 2%;
    stroke: #9c9999;
    fill: none;
    transition: fill 0.2s ease, stroke 0.2s ease;
    margin-bottom: 1rem;
}
.estrella2 {
    cursor: pointer;
    stroke-width: 2%;
    stroke: var(--violet-10);
    fill: var(--violet-6);
    transition: fill 0.2s ease, stroke 0.2s ease;
    padding-bottom: .1rem;
    margin-bottom: 1rem;
}
.estrella2:hover {
    transform: scale(1.1);
}
.form {
    z-index: 200 !important;
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
    width: 50%;
    height: 10%;
    background: #ffffff;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0 4px 6px #0000001a;
    margin: 8rem  auto 0rem auto;
    font-size: large;
}
@media (max-width:430px) {
    .form {
        z-index: 200 !important;
        display: flex;
        gap: 2px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 10%;
        background: #ffffff;
        border-radius: 15px;
        box-shadow: 0 4px 6px #0000001a;
        margin: 8rem auto 0rem auto; 
    }
}
.content-card {
    z-index: 200 !important;
    width: 90%;
    display: flex;
    flex-direction: column;
}
.content-card ion-button {
    z-index: 200 !important;
    width: 8rem;
    margin: auto;
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}
.content {
    z-index: 200 !important;
    width: fit-content;
    /* Ajusta el ancho según el contenido */
    margin: auto;
    display: flex;
    flex-direction: row;
    /* Asegura que las estrellas estén en fila */
    gap: 0.2rem;
    /* Espaciado entre estrellas */
    justify-content: center;
    align-items: center;
}
.textarea2 {
    z-index: 200 !important;
        background: transparent;
        border: 1px solid rgba(136, 136, 136, 0.11);
        resize: none;
        width: 90%;
        height: 10rem auto;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 1rem;
}
.p {
    margin: 1rem;
    text-align: center;
    font-family: "Lobster";
    font-size: 3rem;
    font-weight: 100;
    color: #110f11;
}
@media (max-width:430px) {
    .p {
        margin-top: 4px;
        font-family: "Lobster";
        font-size: 2rem;
        font-weight: 200;
        color: #000000;
    }
}
.reclutamiento-columnas2 {
    display: flex;
    gap: 1rem;
    align-content: center;
    justify-content: center;
    /* Centrar horizontalmente */
    align-items: center;
}
@media (max-width: 700px) {
    .reclutamiento-columnas2 {
        flex-direction: column;
        padding: 0.5rem auto;
        margin: auto 0.5rem;
    }
}
@media (max-width:540px) {
    .form {
        z-index: 200 !important;
        display: flex;
        gap: 2px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 10%;
        background: #ffffff;
        border-radius: 15px;
        box-shadow: 0 4px 6px #0000001a;
        margin: 8rem auto 0rem auto;
    }
}