.reclutamiento {
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 75%;
    margin: auto;
    background: #ffffff;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0 4px 6px #0000001a;
    min-height: 4rem;
}
/*ajuste*/
.reclutamiento-columnas {
    display: flex;
    gap: 2rem;
}
@media (max-width: 25vh) {
    .reclutamiento-columnas {
        flex-direction: column;
    }
}
.boton {
    position: flex !important;
    padding: 1px;
    margin: 1px;
}
.text {
    margin-bottom: "3rem";
    margin-top: "4.5rem";
    margin-right: "1rem";
}
@media (max-width: 20vh) {
    .text {
        max-inline-size: 2.3rem;
    }
}
@media (max-width: 345px) {
    .reclutamiento {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        width: 90% !important;
        height: 90% !important;
        background: #ffffff;
        border-radius: 15px;
        padding: 1rem;
        box-shadow: 0 4px 6px #0000001a;
    }
}
.imgg {
    margin: 1rem 24rem;
    display: flex;
    gap: 1rem; 
}
@media (max-width: 820px) {
    .imgg {
        margin: 1rem 9rem;
        display: flex;
        gap: 1rem;
    }
}
@media (max-width: 1024px) {
    .imgg {
        margin: 1rem 16rem;
        display: flex;
        gap: 1rem;
    }
}
@media (max-width: 345px) {
.imgg {
        margin: 1rem 1rem;
        display: flex;
        gap: 1rem;
    }
}
@media (max-width: 430px) {
    .imgg {
        margin: 1rem 1rem;
        display: flex;
        gap: 1rem;
    }
}
@media (max-width: 853px) { /* asus zen book */
    .imgg {
    margin: 1rem 10rem;
    display: flex;
    gap: 1rem;
    }
}
@media (max-width: 540px) {
    /* surface duo */
    .imgg {
        margin: 1rem 1rem;
        display: flex;
        gap: 1rem;
    }
}
@media (min-width: 768px) and (max-width: 820px) {
/* ipad air & mini */
.imgg {
        margin-left: 1rem 1rem;
        display: flex;
        gap: 1rem;
    }
}
