.table-container {
    margin: auto;
    width: 95% !important;
    overflow-x: auto;
    background: #ffffff;
    font-size: medium !important;
    padding: auto;
}
.responsive-table {
    margin:auto ;
    width: 100%;
    border-collapse: collapse;
}
.responsive-table th,
.responsive-table td {
    padding: 15px;
    text-align: left;
}
.responsive-table th {
    /*Encabezado*/
    font-weight: 600;
    color:#6503c2;
    border-bottom: 1px solid #c990ff; /*linea encabezado*/
}
.responsive-table tbody tr:hover {
    background-color: #faf3ff;
}
.limrenglones{
    max-inline-size: 1rem;
}

.fontSize{
    font-size: medium !important
}
.form {
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 96%;
    margin: auto;
    background: #ffffff;
    border-radius: 15px;
    margin-bottom: 2rem;
    padding: .4rem;
}
@media (max-width:430px) {
    .responsive-table {
        width: 30rem;
        overflow: scroll !important;
        font-size: x-large !important;
    }
}
@media (min-width:391px) {
    .responsive-table {
        width: 30rem;
        overflow: scroll !important;
        font-size: x-large !important;
    }
}
@media (max-width:430px) {
    .form {
        width: 23.5rem;
        overflow: scroll !important;
    }
}
@media (max-width:430px) {
    .responsive-table th,
    .responsive-table td {
        text-align: left;
        font-size: 15px ;
    }
}
@media (max-width: 345px) {
    .form {
        display: flex;
        gap: 5px;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        width: 80%;
    }
}
@media (max-width: 375px) {
    .form {
        margin: 1rem 3rem 1rem 1rem;
        display: flex;
        gap: 5px;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        width: 90%;
        margin: auto;
    }
}
/*Lim reglones proveedorees*/
.provlimrenglones {
    max-inline-size: 5rem;
}

/*Botones paginación*/
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.pagination button {
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    background-color: #5c00a798;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
.pagination button:disabled {
    background-color: #6c00c43a;
    cursor: not-allowed;
}
.pagination span {
    margin: 1rem 1rem;
    font-weight: lighter;
}

/*Tablas proveedor*/
.provtablecontainer {
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: auto;
    width: 96%;
    overflow-x: auto;
    background: #ffffff;
    font-size: small !important;
    border-radius: 10px;
}
.provresponsivetable {
    width: 100%;
    border-collapse: collapse;
}
.provresponsivetable th,
.provresponsivetable td {
    padding: 1rem 1rem 0.5rem 2rem;
    text-align: center;
    white-space: nowrap;
    /* Evita los saltos de línea */
    overflow: hidden;
    /* Oculta el contenido que no cabe */
    text-overflow: ellipsis;
    /* Agrega "..." si el contenido es demasiado largo */
}
.provresponsivetable th {
    /*Encabezado*/
    font-weight: 600;
    color: #6503c2;
    border-bottom: 1px solid #c990ff18;
    /*linea encabezado*/
}
.provresponsivetable tbody tr:hover {
    background-color: #8b00fd0c;
}
.provlimrenglones {
    max-inline-size: 6rem !important;
    /* Ajusta el ancho máximo */
    white-space: nowrap;
    /* Evita el salto de línea */
    text-align: center;
}
.provfontSize {
    font-size:large !important;
}
.provform {
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 93%;
    margin: auto;
    background: #ffffff;
    border-radius: 15px;
    margin-bottom: 1rem;
}
@media (max-width: 430px) {
    .provresponsivetable {
        width: 30rem;
        overflow: scroll !important;
        font-size: x-large !important;
    }
}
@media (min-width: 391px) {
    .provresponsivetable {
        width: 30rem;
        overflow: scroll !important;
        font-size: x-large !important;
    }
}
@media (max-width: 430px) {
    .provform {
        width: 23.5rem;
        overflow: scroll !important;
    }
}
@media (max-width: 430px) {
    .provresponsivetable th,
    .provresponsivetable td {
        text-align: center;
        white-space: nowrap;
    }
}
@media (max-width: 345px) {
    .provform {
        display: flex;
        gap: 5px;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        width: 80%;
    }
}
@media (max-width: 375px) {
    .provform {
        margin: 1rem 1rem 1rem 1rem;
        display: flex;
        gap: 5px;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        width: 90%;
        margin: auto;
    }
}

 /* Tablas Valoracion*/
.valtable-container {
    margin: 1rem auto;
    width: 90%;
    overflow-x: auto;
    background: #ffffff;
    font-size: medium !important;
    border-radius: 1rem;
}
.valresponsive-table {
    width: 100%;
    border-collapse: collapse;
}
.valresponsive-table th,
.valresponsive-table td {
    padding: 10px;
}
.valresponsive-table th {
    /*Encabezado*/
    font-weight: 600;
    color: #6503c2;
    border-bottom: 1px solid #c990ff18;
}
.valresponsive-table tbody tr:hover {
    background-color: #8b00fd07;
}
.vallimrenglones {
    margin: 19rem !important;
    max-inline-size: 100rem !important;
    /* white-space: none; */
}
.valfontSize {
    font-size: medium !important;
}
@media (max-width: 430px) {
    .valresponsive-table {
        width: 40rem;
        overflow: scroll !important;
        font-size: x-large !important;
    }
}
@media (min-width: 391px) {
    .valresponsive-table {
        width: 50rem;
        overflow: scroll !important;
        font-size: x-large !important;
    }
}
@media (max-width: 430px) {

    .valresponsive-table th,
    .valresponsive-table td {
        text-align: left;
        font-size: 15px;
    }
}
@media (max-width: 430px) {
.vallimrenglones {
        max-inline-size: 25rem !important;
        white-space: normal;
    }
}

/*Bottom*/
.botton {
    width: 9rem;
    height: 2vh;
    font-size: 1rem;
}

@media (max-width:344px) {
    .botton {
        margin-top: 1rem;
        font-size: smaller;
        width: 15vh;
        height: 5vh;
        margin-bottom: 0.5rem;
    }
}

.reclutamiento-columnas2 {
    display: flex;
    flex-direction: column;
}

.reclutamiento-columnas {
    display: flex;
    gap: 1rem !important;
}

@media (max-width:430px) {
    .reclutamiento-columnas {
        flex-direction: column;
        padding: 0.2rem;
    }
}