/* src/index.css */
/* @import 'normalize.css'; */



:root {
    --color-background: #fff;

    --ion-color-violet: #f3eeff;
        --ion-color-violet-rgb: 243, 238, 255;
        --ion-color-violet-contrast: #000000;
        --ion-color-violet-contrast-rgb: 0, 0, 0;
        --ion-color-violet-shade: #d6d1e0;
        --ion-color-violet-tint: #f4f0ff;

    --ion-color-rose: #cebff0;
        --ion-color-rose-rgb: 178, 152, 236;
        --ion-color-rose-contrast: #000000;
        --ion-color-rose-contrast-rgb: 0, 0, 0;
        --ion-color-rose-shade: #9d86d0;
        --ion-color-rose-tint: #baa2ee;

   

        
    --violet-1: #fdfcff;
    --violet-1-rgb: 253, 252, 255;
    --violet-2: #faf8ff;
    --violet-3: #f3eeff;
    --violet-4: #ebe4ff;
    --violet-5: #e2d7fe;
    --violet-6: #d6c8fa;
    --violet-7: #c6b3f4;
    --violet-8: #b298ec;
    --violet-9: #482f72;
    --violet-10: #594185;
    --violet-11: #7156a4;
    --violet-12: #3c2264;

    --violet-a1: #5500ff03;
    --violet-a2: #4900ff07;
    --violet-a3: #4b00ff11;
    --violet-a4: #4300ff1b;
    --violet-a5: #4700f928;
    --violet-a6: #4100e837;
    --violet-a7: #4000db4c;
    --violet-a8: #4100d067;
    --violet-a9: #1f0052d0;
    --violet-a10: #20005bbe;
    --violet-a11: #290076a9;
    --violet-a12: #1e004cdd;

    --violet-contrast: #fff;
    --violet-surface: #f9f6ffcc;
    --violet-indicator: #482f72;
    --violet-track: #482f72;

    --gray-1: #fcfcfc;
    --gray-2: #f9f9f9;
    --gray-3: #efefef;
    --gray-4: #e8e8e8;
    --gray-5: #e0e0e0;
    --gray-6: #d8d8d8;
    --gray-7: #cecece;
    --gray-8: #bbb;
    --gray-9: #8d8d8d;
    --gray-10: #838383;
    --gray-11: #646464;
    --gray-12: #202020;

    --gray-a1: #00000003;
    --gray-a2: #00000006;
    --gray-a3: #00000010;
    --gray-a4: #00000017;
    --gray-a5: #0000001f;
    --gray-a6: #00000027;
    --gray-a7: #00000031;
    --gray-a8: #00000044;
    --gray-a9: #00000072;
    --gray-a10: #0000007c;
    --gray-a11: #0000009b;
    --gray-a12: #000000df;

    --gray-contrast: #FFFFFF;
    --gray-surface: #ffffffcc;
    --gray-indicator: #8d8d8d;
    --gray-track: #8d8d8d;
}


ion-datetime {
    --background: var(--violet-1);
    border-radius: 16px;
    box-shadow: rgba(var(--violet-8), 0.3) 0px 10px 15px -3px;
    margin: 1rem;
    border:0.2px solid var(--gray-2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.ion-color-rose {
    --ion-color-base: var(--ion-color-rose);
    --ion-color-base-rgb: var(--ion-color-rose-rgb);
    --ion-color-contrast: var(--ion-color-rose-contrast);
    --ion-color-contrast-rgb: var(--ion-color-rose-contrast-rgb);
    --ion-color-shade: var(--ion-color-rose-shade);
    --ion-color-tint: var(--ion-color-rose-tint);
}

.ion-color-violet {
    --ion-color-base: var(--ion-color-violet);
    --ion-color-base-rgb: var(--ion-color-violet-rgb);
    --ion-color-contrast: var(--ion-color-violet-contrast);
    --ion-color-contrast-rgb: var(--ion-color-violet-contrast-rgb);
    --ion-color-shade: var(--ion-color-violet-shade);
    --ion-color-tint: var(--ion-color-violet-tint);
}