* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}
main{
    min-height: 100%;
}
ion-content {
    --background: #f2f2f7;
    color: #333;
    padding: 5rem;
    line-height: 1.6;
}
ion-datetime {
    --background: var(--primary);
    border-radius: 16px;
    box-shadow: var(--shadow);
    margin: 1rem;
    border: 0.2px solid var(--gray-2);
    box-shadow: 0 4px 6px #0000001a;
}

ion-button,
ion-fab-button {
    transition: .1s ease;
}

ion-button:active,
ion-fab-button:active {
    transform: scale(0.85);
}
ion-header{
    --background: transparent !important;
}
ion-footer{
    box-shadow: 0 4px 6px #0000001a;
}
ion-popover{
    --width: 12rem;
}
ion-select-popover {
    width: 12rem;
    overflow: hidden;
}
ul {
    list-style: none;
}
h1,h2,h3,h4{
    font-size: xx-large;
    text-align: inherit;
}
h3 {
    color: var(--primary);
}
.swal2-shown:not(/* .swal2-no-backdrop, . */swal2-toast-shown),
.swal2-height-auto,
.swal2-height-auto.specific-class {
    height: 100% !important;
    
}
.overlay {
    width: 80%;
    padding: 5rem;
    text-align: inherit;
    margin: auto;
    color: var(--ion-color-liz-tint);
    text-shadow: #2b2b2ba2 2px 2px 5px;
}
.inert {
    pointer-events: none;
    /* Desactiva interacciones con el mouse */
    user-select: none;
    /* Evita que el contenido sea seleccionable */
    opacity: 0.5;
    /* Opcional: reduce la opacidad para indicar que está deshabilitado */
}
.overlay .titulos{
    color: var(--primary);
}
h1.titulos{
    margin-top: 5rem;
    font-size: 4rem;
    font-family: "Lobster";
    font-weight: 300;
    text-align: center;
}
h2.titulos {
    margin-top: 0.5rem;
    margin-bottom: 1rem ;
    font-size: 2.5rem;
    font-family: "Lobster";
    font-weight: 300;
    text-align: center;
}
.titulos {
    margin-top: .5rem;
    font-family: "Lobster";
    font-weight: 300;
    text-align: center;
    margin: 2.3rem;
}
.titulos2 {
    margin-top: .5rem;
    font-family: "Lobster";
    font-weight: 300;
    text-align: center;
    margin: 2.3rem;
    color: #000000;
}
h2.titulos2 {
    margin-top: .5rem;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-family: "Lobster";
    font-weight: 300;
    text-align: center;
}
/* Media para todas las pantallas */
@media (max-width: 340px) {
    .titulos  {
        max-inline-size: 20rem;
        margin-left: 3.5rem;
        margin-right: 1.5rem;
    }

    h2.titulos2 {
     margin-top: .5rem;
     margin-bottom: 1rem;
     font-size: 2.5rem;
     font-family: "Lobster";
     font-weight: 300;
     text-align: center;
        }
}

/**/
.sub-titulos {
    font-size: 2.5rem;
    font-weight: 300;
    text-align: center;
    color:var(--violet-12);
}
.sub-titulos2 {
    font-size: 2rem;
    font-weight: 150;
    text-align: center;
    color: whitesmoke;
}
.sub-titulos3 { 
    font-size: 2.5rem;
    font-weight: 300;
    text-align: center;
}
.sub-titulos4 {
    font-size: 2rem;
    font-weight: 150;
    text-align: center;
}
.sub-titulos5 {
    font-size: 1rem;
    font-weight: 3000;
 /* text-align: center; */
    color: #6900a9;
}
.section-1 {
    background-image:
            linear-gradient(#ffffff00 0%, #fdfdfde5 70%, #f2f2f7 100%),
            url('/merc1.jpg');
    background-size: cover;
    height: 75vh;
    display: flex;
}
/**/
@media (max-width: 510px) {
    .section-1 {
        height: 100%;
    }
    .overlay{
        width: 100%;
        padding: 15px;
    }
}

.section-2 {
    position: relative;
    border-bottom: 1px solid #b4b4b4e0;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-2 ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}
.product {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    gap: 1rem;
    width: 90%;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.card-mail {
    list-style: none;
    padding: 16px;
    width: 50%;
}

/* Tarjetas responsivas */
@media (max-width: 480px) {

    /* Teléfonos pequeños */
    .card-mail {
        width: 90%;
        margin: 0.5px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    /* Teléfonos medianos */
    .card-mail {
        width: 85%;
        margin: 1px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    /* Tablets verticales */
    .card-mail {
        width: 75%;
        margin: 5px;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {

    /* Tablets horizontales y laptops pequeños */
    .card-mail {
        width: 70%;
        margin: 10px;
    }
}

@media (min-width: 1281px) and (max-width: 1920px) {

    /* Laptops grandes y pantallas estándar */
    .card-mail {
        width: 60%;
        margin: 15px;
    }
}

@media (min-width: 1921px) and (max-width: 2560px) {

    /* Pantallas grandes */
    .card-mail {
        width: 50%;
        margin: 20px;
    }
}

@media (min-width: 2561px) {

    /* Televisores y pantallas ultra grandes */
    .card-mail {
        width: 40%;
        margin: 25px;
    }
}
.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}
.contact-item svg {
    margin-right: 12px;
    min-width: 24px;
}
.contact-item span {
    font-size: 16px;
    color: #333;
}
.section-3 {
    width: 80%;
    margin: auto;
}
@media (max-width: 510px) {
.section-3 {
        width: 90%;
        margin: 1rem 1rem 1rem 1rem;
    }
}
.mail{
    min-height: 20rem;
    background: #fff;
    margin-bottom: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (max-width: 345px) {
.mail {
        background: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.img-uva5 {
    opacity: 0.6;
    position: absolute;
    left: 85%;
    top: 20%;
    height: 100px;
    width: 100px;
    transform: rotate(105deg);
    z-index: 100;
}

@media (max-width:450px) {
    .img-uva5 {
        display: none;
    }
}

:root {
    --primary: #7700c0;
    --secondary: #8001cfe8;
    --shadow: 11px 10px 1px 0px var(--primary);

    --ion-color-liz: #7700c0;
    --ion-color-liz-rgb: 119, 0, 192;
    --ion-color-liz-contrast: #ffffff;
    --ion-color-liz-contrast-rgb: 255, 255, 255;
    --ion-color-liz-shade: #6900a9;
    --ion-color-liz-tint: #851ac6;

    --color-background: #fff;
    
    --ion-color-violet: #f3eeff;
    --ion-color-violet-rgb: 243, 238, 255;
    --ion-color-violet-contrast: #000000;
    --ion-color-violet-contrast-rgb: 0, 0, 0;
    --ion-color-violet-shade: #d6d1e0;
    --ion-color-violet-tint: #f4f0ff;

    --ion-color-rose: #cebff0;
    --ion-color-rose-rgb: 178, 152, 236;
    --ion-color-rose-contrast: #000000;
    --ion-color-rose-contrast-rgb: 0, 0, 0;
    --ion-color-rose-shade: #9d86d0;
    --ion-color-rose-tint: #baa2ee;

    --violet-1: #fdfcff;
    --violet-1-rgb: 253, 252, 255;
    --violet-2: #faf8ff;
    --violet-3: #f3eeff;
    --violet-4: #ebe4ff;
    --violet-5: #e2d7fe;
    --violet-6: #d6c8fa;
    --violet-7: #c6b3f4;
    --violet-8: #b298ec;
    --violet-9: #482f72;
    --violet-10: #594185;
    --violet-11: #7156a4;
    --violet-12: #3c2264;

    --violet-a1: #5500ff03;
    --violet-a2: #4900ff07;
    --violet-a3: #4b00ff11;
    --violet-a4: #4300ff1b;
    --violet-a5: #4700f928;
    --violet-a6: #4100e837;
    --violet-a7: #4000db4c;
    --violet-a8: #4100d067;
    --violet-a9: #1f0052d0;
    --violet-a10: #20005bbe;
    --violet-a11: #290076a9;
    --violet-a12: #1e004cdd;

    --violet-contrast: #fff;
    --violet-surface: #f9f6ffcc;
    --violet-indicator: #482f72;
    --violet-track: #482f72;

    --gray-1: #fcfcfc;
    --gray-2: #f9f9f9;
    --gray-3: #efefef;
    --gray-4: #e8e8e8;
    --gray-5: #e0e0e0;
    --gray-6: #d8d8d8;
    --gray-7: #cecece;
    --gray-8: #bbb;
    --gray-9: #8d8d8d;
    --gray-10: #838383;
    --gray-11: #646464;
    --gray-12: #202020;

    --gray-a1: #00000003;
    --gray-a2: #00000006;
    --gray-a3: #00000010;
    --gray-a4: #00000017;
    --gray-a5: #0000001f;
    --gray-a6: #00000027;
    --gray-a7: #00000031;
    --gray-a8: #00000044;
    --gray-a9: #00000072;
    --gray-a10: #0000007c;
    --gray-a11: #0000009b;
    --gray-a12: #000000df;

    --gray-contrast: #FFFFFF;
    --gray-surface: #ffffffcc;
    --gray-indicator: #8d8d8d;
    --gray-track: #8d8d8d;
}

.ion-color-liz {
    --ion-color-base: var(--ion-color-liz);
    --ion-color-base-rgb: var(--ion-color-liz-rgb);
    --ion-color-contrast: var(--ion-color-liz-contrast);
    --ion-color-contrast-rgb: var(--ion-color-liz-contrast-rgb);
    --ion-color-shade: var(--ion-color-liz-shade);
    --ion-color-tint: var(--ion-color-liz-tint);
}
.ion-color-rose {
    --ion-color-base: var(--ion-color-rose);
    --ion-color-base-rgb: var(--ion-color-rose-rgb);
    --ion-color-contrast: var(--ion-color-rose-contrast);
    --ion-color-contrast-rgb: var(--ion-color-rose-contrast-rgb);
    --ion-color-shade: var(--ion-color-rose-shade);
    --ion-color-tint: var(--ion-color-rose-tint);
}

.ion-color-violet {
    --ion-color-base: var(--ion-color-violet);
    --ion-color-base-rgb: var(--ion-color-violet-rgb);
    --ion-color-contrast: var(--ion-color-violet-contrast);
    --ion-color-contrast-rgb: var(--ion-color-violet-contrast-rgb);
    --ion-color-shade: var(--ion-color-violet-shade);
    --ion-color-tint: var(--ion-color-violet-tint);
}