.modal{
    --background:transparent;
}
.modal-columnas {
    display: flex;
    gap: 1rem;
}
@media (max-width:430px) {
    .modal-columnas {
        flex-direction: column;
    }
}
.modal-button{
    align-content: center;
    size: small;
}
.tituloslog{
    font-family: "Lobster";
    font-size: 3rem;
    text-align: center;
    margin-bottom: 0%;
    margin-top: 1%;
    color: var(--violet-10);
}
.subtitulos-log{
    font-family: "Noto Sans", sans-serif;
    color: #fffefe;
    font-size: smaller;
    text-align: center;
    margin-top: 0%;
}
.modal2 {
    background:transparent;
    padding: 20px; 
}
.modal-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
}
.tab-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.tab-button {
    flex: 1;
    padding: 10px;
    background-color: #faf8f8;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}
.active {
    background-color: #f3eefd;
    border-bottom: 2px solid #8400ff4f;
}
.input-group {
    margin-bottom: 16px;
}
.switch-text {
    font-size: 14px;
    color: #6c757d;
    margin-top: 10px;
}
.switch-link {
    color: #dd1bc3;
    cursor: pointer;
    text-decoration: underline;
}
.button {
    margin-top: 20px;
}
.iconX{
    color:red;
    position: absolute;
    top: 2rem;
    right: 7rem;
}
@media (max-width:430px) {
.iconX {
        color: red;
        top: 2rem;
        right: 2rem;
    }
}
    

