.modal{
    --background:transparent;
    
}
.modal-columnas {
    display: flex;
    gap: 1rem;
}
@media (max-width:430px) {
    .modal-columnas {
        flex-direction: column;
    }
}
.modal-button{
    align-content: center;
    size: small;
}
.tituloslog{
    font-family: "Lobster";
    font-size: 3rem;
    text-align: center;
    margin-bottom: 0%;
    margin-top: 1%;
    color: var(--violet-10);
}
.subtitulos-log{
    font-family: "Noto Sans", sans-serif;
    color: #fffefe;
    font-size: smaller;
    text-align: center;
    margin-top: 0%;
}
.modal2 {
    background:transparent;
    padding: 20px; 
}
.modal-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
}
.tab-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.tab-button {
    flex: 1;
    padding: 10px;
    background-color: #faf8f8;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}
.active {
    background-color: #f3eefd;
    border-bottom: 2px solid #8400ff4f;
}
.input-group {
    margin-bottom: 16px;
}
.switch-text {
    font-size: 14px;
    color: #6c757d;
    margin-top: 10px;
}
.switch-link {
    color: #dd1bc3;
    cursor: pointer;
    text-decoration: underline;
}
.button {
    margin-top: 20px;
}


/*de aqui pa bajo marcas*/

.nav {
    background: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
}

.ul {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    animation: marquee 15s linear infinite;
}

.ul li {
    padding: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.ul li:hover {
    transform: translateY(-10px);
}

.ul:hover {
    animation-play-state: paused;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.content {
    margin-top: 4rem;
    margin-bottom: 2rem;
    background: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    padding: 2rem;
}

.marca {
    width: 100%;
    height: 10rem;

   background: var(--secondary); 
    color: #fff;

   
    border: 1px solid var(--gray-1);
    border-radius: 1rem;
    box-shadow: 0 4px 4px #0000001a;
}

.marca h2 {
    font-size: xx-large;
    font-weight: 700;
   
}

.productos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 90%;
    margin: auto;
    
}

.productos li {
    flex: 1 1 calc(50% - 2rem);
    min-height: 200px;
    background: #f2f2f7;
    padding: 10px;
    border: 1px solid var(--gray-1);
    border-radius: 1rem;
    box-shadow: 0 4px 4px #0000001a;
   
}

.productos li:nth-child(1):only-child {
    flex: 1 1 100%;
    size: 4rem;
}

@media (max-width: 768px) {
    .productos li {
        flex: 1 1 calc(100% - 2rem);
    }
}

.user-card {
    display: flex;
    align-items: normal;

    padding: 16px;

    border: 1px solid var(--gray-1);
    border-radius: 1rem;

    box-shadow: 0 4px 4px #0000001a;
    transition: box-shadow 0.3s ease;
    background: #f2f2f7;

    height: 100%;
    min-height: 100px;
    min-width: 300px;
    max-width: 600px;
}

.user-card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.user-card__avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-right: 16px;
    border: 2px solid #ddd;
}

.user-card__info {
    display: flex;
    flex-direction: column;
}

.user-card__name {
    font-size: 1.2rem;
    margin: 0 0 8px;
    font-weight: lighter;
    color: #333;
}

.user-card__email {
    font-size: 0.9rem;
    margin: 0;
    color: var(--gray-a10);
}