.nav {
    /* background:#f2f2f7; */
    margin: 0.5rem;
    background: #ffffff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
    margin: auto;
}

.marquee-container {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.ul {
    display: flex;
    align-items: center;
    width: fit-content;
    animation: marquee 10s linear infinite !important;
}

.ul li {
    flex: 0 0 auto;
    padding: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.ul li:hover {
    transform: translateY(-10px);
}

.ul:hover {
    animation-play-state: paused !important ;
}

@keyframes marquee {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}
.content{
    margin: 0.5rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}
.marca{
    margin:0.5rem;
    width: 90%;
    height: 10rem;
    background: var(--secondary);
    color: #fff;
    padding: 10px;
    border: 1px solid var(--gray-1);
    border-radius: 1rem;
    box-shadow: 0 4px 4px #0000001a;
}
.marca h2{
    font-size: xx-large;
    font-weight: 700;
    font-variant: small-caps;
}
.productos {
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 90%;

}
.productos li {
    flex: 1 1 calc(50% - 2rem);
    min-height: 200px;
    background: #f2f2f7;
    padding: 10px;
    border: 1px solid var(--gray-1);
    border-radius: 1rem;
    box-shadow: 0 4px 4px #0000001a;
}
.productos li:nth-child(1):only-child {
    flex: 1 1 100%;
}

@media (max-width: 768px) {
    .productos li {
        flex: 1 1 calc(100% - 2rem);
    }
}
/*Combos */
.contentcom {
    margin-top: 4rem;
    margin-bottom: 0rem;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}
.marcacom {
    width: 90%;
    height: 12rem;
 /**/
    background: #7600c096;
/**/
    color: #fff;
    padding: 10px;
    border: 1px solid var(--gray-1);
    border-radius: 1rem;
    box-shadow: 0 4px 4px #0000001a;
}
.marcacom h2 {
    font-size: xx-large;
    font-weight: 700;
    font-variant: small-caps;
}
.productoscom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 90%;
    margin: auto;
}
.productoscom li {
    flex: 1 1 calc(50% - 2rem);
    min-height: 200px;
    background: #f2f2f700;
    padding: 10px;
    border: 1px solid var(--gray-1);
    border-radius: 1rem;
    box-shadow: 0 4px 4px #0000001a;
}
.productoscom li:nth-child(1):only-child {
    flex: 1 1 100%;
}
@media (max-width: 768px) {
    .productoscom li {
        flex: 1 1 calc(100% - 2rem);
    }
}
.icon{
    margin-left: 1px;
    margin: .5rem;
    margin-bottom: 1rem;
    font-size: medium;
    font-size: 4rem;   
    color: #0000001a;
}
.icons{

    stroke-width: 50%;
    margin: 1.5rem;
    size: 2px;
}
.div{
    width: 49rem ;
    height: 5rem ;
}
.cont{
        padding-left: 1px;
        margin-left: 1px;
        width: 46rem;
        height: 5rem;
}
@media (max-width: 340px) {
    .div {
        gap: 2rem;
        width: 90%;
        margin: auto;
    }
}
@media (max-width: 340px) {
.icons {
        stroke-width: 50%;
        size: 1px;
    }
}
.contentcom {
    margin-top: 4rem;
    margin-bottom: 0rem;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}
@media (max-width: 340px) {
    .nav {
            /*background:#f2f2f7; */
            background: #ffffff;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            width: 100%;
        
          
        }
}
/*-------------------------------------------------------------------------------------------*/
/*Carrusel*/

.swiper {
    margin-top: 6.5rem;
    height: 30vh !important;
    width: 80vh;
    border-radius: 1rem;
    background: #ad00fd;
    /* Ajustar según lo necesario */
    overflow: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0);
}

@media (max-width:430px) {
    .swiper {
        margin-top: 6rem !important;
        height: 60vh;
        width: 40vh;
        margin: 1rem;
    }
}
.div{
    position: relative;
    width: 90vh;
    height: 90vh;  
}

.img {
    border-radius: 1rem;
    width: 80vh; /*--*/
    height: 70vh; /* |*/
    object-fit: fill;
}
.fondo {
    position: absolute;
    inset: 0;
    /* Equivale a top: 0; right: 0; bottom: 0; left: 0; */
    background-color: #00000000;
}
.contenido {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: #00000000;
    color: rgb(0, 59, 253);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

@media (max-width:430px) {
    .contenido {
        padding: 1.5rem;  
    }
}
.spancont {
    display: inline-block;
    /* padding: 0.25rem 0.75rem; */
    /* px-3 py-1 */
    background-color: #22c55e;
    font-size: 0.75rem;
    /* text-xs */
    font-weight: 600;
    /* font-semibold */
    border-radius: 9999px;
    /* rounded-full */
    margin-bottom: 0.5rem;
    color: white;
}

@media (max-width:430px) {
    .spancont {
        font-size: 0.875rem; 
    }
}
.h3 {
    font-size: 1.125rem;
    font-weight: 700;
}

@media (max-width:430px) {
    .h3 {
        font-size: 1.5rem;
        /* text-2xl */
    }
}

.parf {
    font-size: 0.875rem;
    /* text-sm */
}

@media (max-width:430px)  {
    .parf {
        font-size: 1rem;
        /* text-base */
    }
}

/*------------------------------------------------------------------------------------------*/
/*PDF*/
.pdfdiv {
    background: #7c2bbe10;
    /* Gradiente de morado claro */
    border-radius: 0.5rem;
    /* rounded-xl */
    padding: 2rem;
    margin: 0.5rem;
    /* p-8 */
}

.div2 {
    display: flex;
    /* flex */
    flex-direction: column;
    /* flex-col */
    align-items: center;
    /* items-center */
    text-align: center;
    /* text-center */
   /*  max-width: 42rem; */
    /* max-w-2xl (672px) */
    margin-left: auto;
    /* mx-auto */
    margin-right: auto;
    /* mx-auto */
}
.h3 {
    font-family: "Lobster";
    font-size: 3rem;
    /* text-2xl */
    font-weight: 100;
    /* font-bold */
    color: #ad00fd;
    /* text-gray-800 */
    margin: 0.75rem;
    /* mb-3 */
}
@media (max-width:430px)  {
    .h3 {
        font-family: "Lobster";
        font-size: 2rem;
        /* text-2xl */
        font-weight: 100;
        /* font-bold */
        color: #ad00fd;
        
    }
}
.parfo {
    color: #66be2b;
    /* text-gray-600 */
    margin-bottom: 1rem;
    /* mb-6 */
}
.divbo {
    display: flex;
    /* flex */
    gap: 1rem;
    /* gap-4 (16px) */
}
.botton {
    width: 10rem;
    font-size: 1.3rem;
    /* w-40 (160px) */
}
@media (max-width:430px) {
    .botton {
        font-size: smaller;
        width: 20vh;
        height: 5vh;;
       margin-bottom: 0.5rem;
    }
}