.nav {
 /*    background:#f2f2f7; */
    background: #ffffff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
    margin: auto;   
}
.marquee-container {
    overflow: hidden;
    width: 100%;
}

/* CSS */
.ul {
    display: flex;
    align-items: center;
    width: calc(200%);
    animation: marquee 15s linear infinite;
}

.ul li {
    flex: 0 0 auto;
    padding: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.ul li:hover {
    transform: translateY(-10px);
}

.ul:hover {
    animation-play-state: paused;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}
.content{
    margin-top: 4rem;
    margin-bottom: 2rem;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}
.marca{
    width: 90%;
    height: 10rem;
    background: var(--secondary);
    color: #fff;
    padding: 10px;
    border: 1px solid var(--gray-1);
    border-radius: 1rem;
    box-shadow: 0 4px 4px #0000001a;
}
.marca h2{
    font-size: xx-large;
    font-weight: 700;
    font-variant: small-caps;
}
.productos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 90%;
    margin: auto;
}
.productos li {
    flex: 1 1 calc(50% - 2rem);
    min-height: 200px;
    background: #f2f2f7;
    padding: 10px;
    border: 1px solid var(--gray-1);
    border-radius: 1rem;
    box-shadow: 0 4px 4px #0000001a;
}
.productos li:nth-child(1):only-child {
    flex: 1 1 100%;
}

@media (max-width: 768px) {
    .productos li {
        flex: 1 1 calc(100% - 2rem);
    }
}
/*Combos */
.contentcom {
    margin-top: 4rem;
    margin-bottom: 0rem;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}
.marcacom {
    width: 90%;
    height: 12rem;
 /**/
    background: #7600c096;
/**/
    color: #fff;
    padding: 10px;
    border: 1px solid var(--gray-1);
    border-radius: 1rem;
    box-shadow: 0 4px 4px #0000001a;
}
.marcacom h2 {
    font-size: xx-large;
    font-weight: 700;
    font-variant: small-caps;
}
.productoscom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 90%;
    margin: auto;
}
.productoscom li {
    flex: 1 1 calc(50% - 2rem);
    min-height: 200px;
    background: #f2f2f700;
    padding: 10px;
    border: 1px solid var(--gray-1);
    border-radius: 1rem;
    box-shadow: 0 4px 4px #0000001a;
}
.productoscom li:nth-child(1):only-child {
    flex: 1 1 100%;
}
@media (max-width: 768px) {
    .productoscom li {
        flex: 1 1 calc(100% - 2rem);
    }
}
.icon{
    margin-left: 1px;
    margin: .5rem;
    margin-bottom: 1rem;
    font-size: medium;
    font-size: 4rem;   
    color: #0000001a;
}
.icons {
    stroke-width: 50%;
    margin: 1rem;
    padding: 15px;
}
.div{
   padding: auto;
    width: 46rem ;
    height: 5rem ;
}

@media (max-width: 340px) {
    .div {
        align-items: center;
        max-inline-size: 20rem;
        width:19rem;
        height: 8rem;
    }
}

.contentcom {
    margin-top: 4rem;
    margin-bottom: 0rem;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}
@media (max-width: 340px) {
    .nav {
            /*    background:#f2f2f7; */
            background: #ffffff;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            width: 100%;
        
          
        }
}