.reclutamiento{
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    background: #ffffff;
    padding: 1rem;
    border-radius:15px;
    box-shadow: 0 4px 6px #0000001a;
    min-height: 4rem;
}
.reclutamiento-columnas{
    display: flex;
    gap: 2rem;
}
@media (max-width:430px) {
    .reclutamiento-columnas{
       flex-direction: column;
    }

}

.boton{
    margin-bottom: 1rem;
    position:absolute !important;
}
.text{
    margin-bottom: "3rem";
    margin-top:"4.5rem";
    margin-right:"1rem";

}@media (max-width: 300px) {
    .text {
        max-inline-size: 2rem;
    }
}