@keyframes infinite-scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.animate-infinite-scroll {
    animation: infinite-scroll 20s linear infinite;
}

.ion-content-v2 {
    --background: transparent !important;
    --padding-top: 6.3rem;
    margin-top: 15rem !important;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}