.button {
    --background: var(--violet-6);
    --background-activated: var(--violet-8);
    --color:var(--violet-1);
    --color-activated: var(--violet-1);
     margin:1rem;
    --background-hover :var(--violet-7);

}