.use-input {
    background: var(--violet-2);
    margin: 1rem;
    border: 3px solid var(--gray-a1);
    border-radius: .4rem;
    font-size: small;
    font-style: normal;
    padding: 0.4rem;
    width: 4rem;
    outline: none;
}

.use-input:focus {
    border: 3px solid var(--violet-6) !important;
}