.select{
    --box-shadow: 0 4px 6px #0000001a !important ;
    --placeholder-color:var(--violet-10);
    margin: 1%;
    border-radius: 5px;
    width: 100%;
}
ion-popover {
    --width: 12rem;
}
ion-select-popover {
    width: 12rem;
    overflow: hidden;
}