.nav {
    /* background:#f2f2f7; */
    margin: 0.2rem;
    background: #ffffff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1px 2px 1px 2px!important;
    margin: auto;
}
.marquee-container {
    overflow: hidden; /* Oculta el contenido que se desborda */
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.ul {
    display: flex;
    align-items: center;
    gap: .01rem;
    /* Espaciado entre los logos */
    width: max-content;
    animation: marquee 10s linear infinite !important;
    white-space: nowrap;
    /* Evita saltos de línea */
}

.ul li {
    flex: 0 0 auto;
    padding: 1px;
    transition: transform 0.0s ease, box-shadow 0.3s ease;
}

@keyframes marquee {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-50%);
        /* Se repite más rápido */
    }
}
.content {
    margin: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}
.marca {
    margin: 0.5rem;
    width: 95%;
    height: 10rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: var(--secondary);
    color: #fff;
    padding: 10px;
    border: 1px solid var(--gray-1);
    border-radius: 1rem;
}
.marca h2 {
    font-size: xx-large;
    font-weight: 700;
    font-variant: small-caps;
}
.productos {
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 90%;
}
.productos li {
    flex: 1 1 calc(50% - 2rem);
    min-height: 200px;
   /*  background: #f2f2f7; */
    padding: 10px;
    border: 1px solid var(--gray-1);
    border-radius: 1rem;
    box-shadow: 0 4px 4px #0000001a;
}
.productos li:nth-child(1):only-child {
    flex: 1 1 100%;
}
@media (max-width: 768px) {
    .productos li {
        flex: 1 1 calc(100% - 2rem);
    }
}

/*Combos */
.contentcom {
    margin-top: 4rem;
    margin-bottom: 0rem;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}
.marcacom {
    width: 90%;
    height: 12rem;
    background: #7600c096;
    color: #fff;
    padding: 10px;
    border: 1px solid var(--gray-1);
    border-radius: 1rem;
    box-shadow: 0 4px 4px #0000001a;
}

.marcacom h2 {
    font-size: xx-large;
    font-weight: 700;
    font-variant: small-caps;
}
.productoscom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 90%;
    margin: auto;
}
.productoscom li {
    flex: 1 1 calc(50% - 2rem);
    min-height: 200px;
    background: #f2f2f700;
    padding: 10px;
    border: 1px solid var(--gray-1);
    border-radius: 1rem;
    box-shadow: 0 4px 4px #0000001a;
}
.productoscom li:nth-child(1):only-child {
    flex: 1 1 100%;
}
@media (max-width: 768px) {
    .productoscom li {
        flex: 1 1 calc(100% - 2rem);
    }
}
.icon {
    margin-left: 1px;
    margin: .5rem;
    margin-bottom: 1rem;
    font-size: medium;
    font-size: 4rem;
    color: #0000001a;
}
.icons {
    stroke-width: 50%;
    margin: 1.5rem;
    size: 2px;
}
.div {
    width: 49rem;
    height: 5rem;
}
.cont {
    padding-left: 1px;
    margin-left: 1px;
    width: 46rem;
    height: 5rem;
}
@media (max-width: 340px) {
    .div {
        gap: 2rem;
        width: 90%;
        margin: auto;
    }
}
@media (max-width: 340px) {
    .icons {
        stroke-width: 50%;
        size: 1px;
    }
}
.contentcom {
    margin-top: 4rem;
    margin-bottom: 0rem;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}
@media (max-width: 340px) {
    .nav {
        background: #ffffff;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

/*-------------------------------------------------------------------------------------------*/
/*Carrusel*/

.swiper {
    margin-top: 6.5rem;
    height: 90vh !important;
    width: 80vh;
    border-radius: 1rem;
    background: #ffffff00;
    /* Ajustar según lo necesario */
    overflow: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0);
}
.swiper-slide {
    height: auto !important;
    min-height: 30vh;
    /* O ajusta según necesidad */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* Estilos para pantallas pequeñas (teléfonos) */
@media (max-width: 376px) {
    .swiper {
        height: 20vh !important;
        margin-top: 6rem;
        /* Altura en vista pequeña */
        width: 50vh !important;
        /* Ancho en vista pequeña */
    }
}

@media (min-width: 500px) {
    .swiper {
        margin-top: 6rem !important;
        height: 30vh !important;
        /* Altura en vista pequeña */
        width: 90vh !important;
        /* Ancho en vista pequeña */
        margin: 1rem;
        /* Margen en vista pequeña */
    }
}

@media (max-width: 920px) {
    .swiper {
        margin-top: 6rem !important;
        height: 50vh;
        /* Altura en vista pequeña */
        width: 35vh;
        /* Ancho en vista pequeña */
    }
}
.div {
    height: auto;
    max-height: 10vh;
}
.img {
    border-radius: .5rem;
    width: 90vh;
    /*--*/
    height: 30vh;
    /* |*/
    object-fit: fill;
}

@media (max-width: 376px) {
    .img {
            border-radius: .5rem;
            width: 42%;
            /*--*/
            height: 0%;
            /* |*/
        }
   
}
@media (max-width: 476px) {
    .img {
        border-radius: .5rem;
        width: 42%;
        /*--*/
        height: 0%;
        /* |*/
    }
     .swiper {
        margin-left: 3rem !important;
     height: 15vh !important;
     /* Altura en vista pequeña */
    width: 50vh !important;
     /* Ancho en vista pequeña */
         }

}

@media (max-width: 360px) {
    .img {
        border-radius: .5rem;
        width: 42%;
        /*--*/
        height: 0%;
        /* |*/
    }
    .swiper {
        margin: auto;
        margin-right: 1rem;
        margin-left: 1rem !important;
        height: 18vh !important;
        /* Altura en vista pequeña */
        width: 50vh !important;
        /* Ancho en vista pequeña */
    }
}

@media (max-width: 345px) {
    .img {
        border-radius: .5rem;
        width: 42%;
        /*--*/
        height: 0%;
        /* |*/
    }
    .swiper {
        margin: auto;
        margin-right: .5rem !important;
        margin-left: .5rem !important;
        height: 18vh !important;
        /* Altura en vista pequeña */
        width: 50vh !important;
        /* Ancho en vista pequeña */
    }

}

/*------------------------------------------------------------------------------------------*/
/*PDF*/

.pdfdiv {
    margin-top: 1rem !important;
    background: #7c2bbe17;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem auto auto auto;
}
.div2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.h3 {
    font-family: "Lobster";
    font-size: 3rem;
    font-weight: 100;
    color: #ad00fd;
    margin-bottom: 1rem;
}

@media (max-width:430px) {
    .h3 {
        margin-top: 1px;
        font-family: "Lobster";
        font-size: 2rem;
        font-weight: 200;
        color: #ad00fd;
    }
}

.parfo {
    margin-top: 0.5rem;
    color: #66be2b;
    margin-bottom: -1rem;
}
.divbo {
    display: flex;
    gap: 1rem;
}

.botton {
    width: 9rem;
    height: 2vh;
    font-size: 1rem;
}
@media (max-width:344px) {
    .botton {
        margin-top: 1rem;
        font-size: smaller;
        width: 15vh;
        height: 5vh;
        margin-bottom: 0.5rem;
    }
}

/*------------------------------------------------------------------------------------------*/
/*Combos*/
.divcom {
    display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        padding: 1rem;
}
@media (min-width: 768px) {
    .divcom {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1024px) {
    .divcom {
        grid-template-columns: repeat(3, 1fr);
    }
}

.cardcom {
    overflow: hidden;
}
.cardheader {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 0.75rem;
}
.divheader {
    font-size:x-large;
    font-weight: 300;
    display: flex;
        align-items: center;
        gap: 0.5rem;
}
.spanpre {
    font-size: 2rem;
    font-weight: 500;
    color: #6416a3;
}
.spanofer {
    font-size: 0.875rem;
        text-decoration: line-through;
        color: #e22424;
}
.badge {
    height: 1rem;
    width: 10rem;
    font-size: 0.75rem;
}

.subtitle {
    padding: .5rem ;
    margin:0 0 0 1rem;
    font-size: 0.875rem;
    color: #4b5563;
}
.dicard>*+* {
    margin-top: 1rem;
}
.divcardcont {
    background-color: #f1e7ff73;
    padding: 0.75rem;
    border-radius: 0.5rem;
}
.h4 {
    font-weight: 400 !important;
    font-size: small !important;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.iconofers {
    width: 1rem;
    height: 1rem;
    color: #6416a3;
}
.ulcomb {
    font-size: 0.875rem;
    color: #000000;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.9rem;
}
.licombo {
    display: flex;
    align-items: center;
}
.spancombo {
    width: 0.2rem;
    height: 0.2rem;
    background-color: #6e22c5;
    border-radius: 9999px;
}
.divcomb2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.875rem;
    color: #6b7280;
}
.divcombo2 {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.25rem;
}
.percent {
    width: 1rem;
    height: 1rem;
    color: #5316a3;
}
.spancomb {
    color: #5316a3;
    font-weight: 600;
}
.bottoncomb {
    margin-top: 1rem;
}
.p {
    margin: 0.5rem;
    text-align: center;
    font-family: "Lobster";
    font-size: 3rem;
    font-weight: 100;
    color: #110f11;
}

@media (max-width:430px) {
    .p {
        margin-top: 4px;
        font-family: "Lobster";
        font-size: 2rem;
        font-weight: 200;
        color: #000000;
    }
}

/*---------------------val--------------------------*/
.subtitleval {
    font-weight: 400;
    margin: 1rem 1rem 1rem 1rem;
    font-size: 0.9rem;
    color: #181818a1;
}
.ulcomboval {
    padding-left: 1rem;
    margin: 1rem;
    list-style-type: disc;
}
.licomboval {
    display: flex;
    align-items: center;
    font-family: "Noto Sans", sans-serif;
    font-size: 1rem;
    font-weight: 300;
}
.divheaderval {
    color: #3c006eda;
    font-family:"Lobster";
    font-size: xx-large;
    font-weight: 100;
    display: flex;
    align-items: center;
}
.spancombo {
    width: 8px;
    height: 8px;
    background-color: #3c006eda;
    border-radius: 100%;
    margin-right: 10px;
}

/*Promociones*/
.form {
    z-index: 200 !important;
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 10%; 
    background: #ffffff;
    padding: 1rem; 
    border-radius: 15px;
    box-shadow: 0 4px 6px #0000001a;
    margin: 1rem auto 2rem auto;
    font-size: large;
}
@media (max-width:430px) {
    .form {
        z-index: 200 !important;
        display: flex;
        gap: 2px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 95%;
        background: #ffffff;
        border-radius: 15px;
        box-shadow: 0 4px 6px #0000001a;
        margin: 1rem auto 2rem auto;
    }
}

/*--------------ajuste------------------*/
.reclutamiento-columnas {
    display: flex;
    gap: 1rem !important;
}
@media (max-width:430px) {
    .reclutamiento-columnas {
        flex-direction: column;
        padding: 0.2rem;
        }
    }
.boton {
    position: flex !important;
    padding: 1px;
    margin: 1px;
}
.text {
    margin-bottom: "3rem";
    margin-top: "4.5rem";
    margin-right: "1rem";
}
@media (max-width: 20vh) {
    .text {
        max-inline-size: 2.3rem;
    }
}
.reclutamiento-columnas2 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
input[type="file"] {
    font-size: 1rem;
}
button:hover {
    background-color: #b08ad1;
}
@media (max-width: 380px) {
    .reclutamiento-columnas2 {
            display: flex;
            flex-direction: column;
            padding: auto;
        }
        input[type="file"] {
            padding: auto;
            font-size: 0.95rem;
        }
        button:hover {
            background-color: #b08ad1;
        }
}
@media (max-width: 350px) {
    .reclutamiento-columnas2 {
        display: flex;
        flex-direction: column;
        padding: auto;
    }
    input[type="file"] {
        padding: auto;
        font-size: 0.85rem;
    }
    button:hover {
        background-color: #b08ad1;
    }
}

.p2 {
    margin: 0.5rem;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    font-weight: 10;
    color: #110f11;
}

@media (max-width:430px) {
    .p2 {
        margin-top: 4px;
        font-family: 'Times New Roman', Times, serif;/*  */
        font-size: 1.2rem;
        font-weight: 200;
        color: #000000;
    }
}
.spanpreOri {
    font-size: 1.2rem;
    text-decoration: line-through;
    font-weight: 500;
    color: #ce0000;
}
